@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  transition: all 0.4s ease;
}

main {
  padding: 1rem 2.5rem;
}

.beggining h4,
label {
  color: hsl(228, 12%, 44%);
  font-weight: 700;
}

.beggining h1,
.beggining h4 {
  margin-left: 2.3rem;
}

label {
  position: relative;
  right: -66rem;
  top: -2.3rem;
}

input {
  position: relative;
  left: 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: -0.5rem;
  left: 6.5rem;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 27px;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: hsl(163, 72%, 41%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(163, 72%, 41%);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.first-row {
  display: flex;
}

.social {
  margin: 1rem 2.5rem;
  background-color: hsl(227, 47%, 96%);
  padding: 0.5rem 1rem;
  width: 400px;
  height: 200px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.social:hover,
.stats:hover {
  background-color: hsl(229, 26%, 87%);
}

.social:first-child {
  border-top: 4.5px solid hsl(208, 92%, 53%);
}

.social:nth-child(2) {
  border-top: 4.5px solid hsl(203, 89%, 53%);
}

.border-gradient {
  border-top-style: solid;
  border-top-width: 4.5px;
  border-image: linear-gradient(45deg, rgb(253, 196, 104), rgb(223, 73, 150)) 1;
}

.social:last-child {
  border-top: 4.5px solid hsl(348, 97%, 39%);
}

.social img {
  margin-top: 0.5rem;
  margin-left: 2.5rem;
}

.name {
  color: hsl(228, 12%, 44%);
  font-weight: 700;
  position: relative;
  left: 4.5rem;
  top: -1.5rem;
}

.big-number {
  color: hsl(230, 17%, 14%);
  font-weight: 700;
  font-size: 45px;
  margin-left: 3rem;
}

.insta {
  margin-left: 5rem;
}

.followers {
  font-weight: 700;
  color: hsl(228, 12%, 44%);
  letter-spacing: 0.3rem;
  margin-left: 2rem;
  border-bottom: 2rem;
  text-transform: uppercase;
}

.green {
  color: hsl(163, 72%, 41%);
  margin: 1rem 0.5rem;
}

.red {
  color: hsl(356, 69%, 56%);
  margin: 1rem 0.5rem;
}

.arrow {
  position: relative;
  top: -0.1rem;
  margin-right: 0.4rem;
}

h2 {
  color: hsl(228, 12%, 44%);
  margin: 1rem 2.5rem;
}

.second-row {
  display: flex;
}

.stats {
  margin: 1rem 2rem;
  background-color: hsl(227, 47%, 96%);
  padding: 0.5rem 1rem;
  width: 253px;
  height: 135px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.top {
  display: flex;
}

.top p {
  color: hsl(228, 12%, 44%);
  font-weight: 700;
  font-size: 16px;
  margin: 0.5rem 0.8rem;
}

.top img {
  width: 10%;
  height: 10%;
  position: relative;
  left: 4rem;
  top: 0.4rem;
}

.bottom {
  display: flex;
}

.bottom img {
  width: 5%;
  height: 5%;
  position: relative;
  left: 6rem;
  top: 3rem;
}

.small-number {
  color: hsl(230, 17%, 14%);
  font-weight: 700;
  font-size: 30px;
  margin-left: 0.9rem;
  margin-top: 2rem;
}

.small-stats {
  font-size: 14px;
  position: relative;
  top: 1.5rem;
  left: 6rem;
}

.third-row {
  display: flex;
}

.left {
  position: relative !important;
  left: 5.5rem !important;
}

.left2 {
  position: relative !important;
  left: 8rem !important;
}

.left-stats {
  left: 8rem;
}

.right-stats {
  left: 4rem !important;
}

.left-arrow {
  left: 7.5rem !important;
}

.right-arrow {
  left: 4rem !important;
}

.dark {
  color: #fff;
}

.dark-card {
  background-color: hsl(228, 28%, 20%);
}

.body-bg {
  background-color: hsl(230, 17%, 14%);
}

@media screen and (max-width: 425px) {
  .first-row,
  .second-row,
  .third-row {
    display: block;
  }

  .stats {
    width: 66rem;
    height: 14rem;
  }

  .beggining h1 {
    margin-left: 3.3rem;
    width: 42rem;
    font-size: 56px;
  }

  .beggining h4 {
    margin-left: 3.3rem;
    font-size: 30px;
    width: 101%;
  }

  label {
    right: -3rem;
    top: 3rem;
    font-size: 2.7rem;
  }

  .slider {
    left: 30rem;
    width: 149px;
    height: 57px;
  }

  .slider::before {
    height: 3rem;
    width: 3rem;
  }

  input:checked + .slider:before {
    transform: translateX(90px);
  }

  .social {
    margin: 5rem 5.5rem;
    width: 561px;
    height: 267px;
  }

  .social img {
    margin-top: 1.5rem;
    margin-left: 13rem;
    width: 5%;
  }

  .name {
    font-size: 17px;
    left: 15.5rem;
    top: -1.5rem;
  }

  .big-number {
    font-size: 56px;
    margin-left: 12.5rem;
  }

  .followers {
    margin-left: 13rem;
  }

  .insta {
    margin-left: 14rem;
  }

  h2 {
    font-size: 30px;
  }

  .stats {
    margin: 2rem;
    width: 41rem;
  }

  .top p {
    font-size: 22px;
    margin: 1.5rem 0.8rem;
  }

  .top img {
    width: 5%;
    left: 25rem;
    top: 1.4rem;
  }

  .small-number {
    font-size: 44px;
  }

  .left-arrow {
    left: 29.5rem !important;
  }

  .left-stats {
    left: 30rem;
    top: 1.7rem;
    font-size: 23px;
  }

  .left2 {
    left: 29rem !important;
  }

  .right-arrow {
    left: 23rem !important;
  }

  .right-stats {
    left: 24rem !important;
    top: 2rem;
    font-size: 1.3rem;
  }

  .bottom img {
    left: 26rem;
  }

  .small-stats {
    font-size: 21px;
    top: 1.5rem;
    left: 26.4rem;
  }

  .left {
    left: 26rem !important;
  }

  .marg {
    left: 30rem !important;
  }
}
